/* stylelint-disable selector-no-vendor-prefix */

/*
	Эффект перехода
*/
@mixin transition-mixin($property...) {
	transition-timing-function: ease;
	transition-duration: 300ms;
	transition-property: $property;
}

/*
	Цвет плейсхолдера
*/
@mixin placeholder-color($color) {
	&::-webkit-input-placeholder {
		@include transition-mixin(color);

		color: $color;

		/* WebKit, Blink, Edge */
		text-overflow: ellipsis;
		opacity: 1;
	}

	&:-moz-placeholder {
		@include transition-mixin(color);

		color: $color;

		/* Mozilla Firefox 4 to 18 */
		text-overflow: ellipsis;
		opacity: 1;
	}

	&::-moz-placeholder {
		@include transition-mixin(color);

		color: $color;

		/* Mozilla Firefox 19+ */
		text-overflow: ellipsis;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		@include transition-mixin(color);

		color: $color;

		/* Internet Explorer 10-11 */
		text-overflow: ellipsis;
		opacity: 1;
	}

	&::-ms-input-placeholder {
		@include transition-mixin(color);

		color: $color;

		/* Microsoft Edge */
		text-overflow: ellipsis;
		opacity: 1;
	}

	&::placeholder {
		@include transition-mixin(color);

		color: $color;

		/* Most modern browsers support this now. */
		text-overflow: ellipsis;
		opacity: 1;
	}
}