/* stylelint-disable selector-no-vendor-prefix */

/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);

  or object-fit and object-position:
  @include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null) {
	object-fit: $fit;

	@if $position {
		object-position: $position;

		font-family: 'object-fit: #{$fit}; object-position: #{$position}';
	}

	@else {
		font-family: 'object-fit: #{$fit}';
	}
}

/*
	Эффект перехода
*/
@mixin transition-mixin($property...) {
	transition-timing-function: ease;
	transition-duration: 300ms;
	transition-property: $property;
}

/*
	Цвет плейсхолдера
*/
@mixin placeholder-color($color) {
	&::-webkit-input-placeholder {
		color: $color;

		/* WebKit, Blink, Edge */
		text-overflow: ellipsis;

		opacity: 1;

		@include transition-mixin(color);
	}

	&:-moz-placeholder {
		color: $color;

		/* Mozilla Firefox 4 to 18 */
		text-overflow: ellipsis;

		opacity: 1;

		@include transition-mixin(color);
	}

	&::-moz-placeholder {
		color: $color;

		/* Mozilla Firefox 19+ */
		text-overflow: ellipsis;

		opacity: 1;

		@include transition-mixin(color);
	}

	&:-ms-input-placeholder {
		color: $color;

		/* Internet Explorer 10-11 */
		text-overflow: ellipsis;

		opacity: 1;

		@include transition-mixin(color);
	}

	&::-ms-input-placeholder {
		color: $color;

		/* Microsoft Edge */
		text-overflow: ellipsis;

		opacity: 1;

		@include transition-mixin(color);
	}

	&::placeholder {
		color: $color;

		/* Most modern browsers support this now. */
		text-overflow: ellipsis;

		opacity: 1;

		@include transition-mixin(color);
	}
}