/* stylelint-disable rule-empty-line-before */
/* stylelint-disable selector-no-vendor-prefix */

// Эффект перехода
@mixin transition-mixin($property...) {
	transition-timing-function: ease;
	transition-duration: 300ms;
	transition-property: $property;
}

// Цвет плейсхолдера
@mixin placeholder-color($color) {

	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&::-ms-input-placeholder,
	&::placeholder,
	&:-moz-placeholder,
	&:-ms-input-placeholder {
		@include transition-mixin(color);

		color: $color;
		text-overflow: ellipsis;
		opacity: 1;
	}
}
