{
	"extends": "airbnb-base",
	"parser": "@babel/babel-eslint",
	"env": {
		"browser": true,
		"es6": true,
		"jquery": true,
		"node": true
	},
	"rules": {
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": [
					"gulpfile.js",
					"gulp/**/*"
				]
			}
		]
	}
}