{
	"extends": [
		"stylelint-config-standard",
		"stylelint-config-rational-order"
	],
	"customSyntax": "postcss-scss",
	"plugins": [
		"stylelint-scss",
		"stylelint-order",
		"stylelint-config-rational-order/plugin"
	],
	"rules": {
		"indentation": "tab",
		"string-quotes": "single",
		"declaration-block-no-redundant-longhand-properties": null,
		"property-no-vendor-prefix": [
			true,
			{
				"ignoreProperties": [
					"text-size-adjust",
					"appearance"
				]
			}
		],
		"no-invalid-position-at-import-rule": null,
		"selector-pseudo-element-no-unknown": [
			true,
			{
				"ignorePseudoElements": [
					"input-placeholder"
				]
			}
		],
		"function-no-unknown": [
			true,
			{
				"ignoreFunctions": [
					"percentage-ratio",
					"math.div",
					"list.slash",
					"map.get"
				]
			}
		],
		"font-family-no-duplicate-names": [
			true,
			{
				"ignoreFontFamilyNames": [
					"monospace"
				]
			}
		],
		"selector-class-pattern": null,
		"color-function-notation": "legacy",
		"at-rule-no-unknown": null,
		"scss/at-rule-no-unknown": true,
		"declaration-empty-line-before": null,
		"order/order": [
			"declarations",
			{
				"type": "at-rule",
				"name": "media"
			},
			{
				"type": "rule",
				"selector": "^&::(before|after)"
			},
			{
				"type": "rule",
				"selector": "^&:\\w"
			},
			{
				"type": "rule",
				"selector": "^&_"
			},
			{
				"type": "rule",
				"selector": "^."
			}
		],
		"order/properties-order": [],
		"plugin/rational-order": [
			true,
			{
				"empty-line-between-groups": true
			}
		]
	}
}
