html {
	font-family: var(--font);
	font-weight: 400;
}

body {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	color: var(--color-base);
	text-rendering: optimizelegibility;
}

body,
html {
	height: 100%;
}

a:focus,
a:active:focus,
button:focus,
button:active:focus {
	outline: 0 !important;
	outline: transparent none 0 !important;
	box-shadow: 0 0 0 0 rgb(0 123 255 / 0%) !important;
}