// @use "../../../node_modules/sass-mediaqueries/media-queries";

.container {
	width: 100%;
	min-width: 320px;
	max-width: 1248px;
	margin: 0 auto;
	padding-right: 24px;
	padding-left: 24px;

	// @include media-queries.min-screen(style.$bp-md) {
	// 	padding-right: 48px;
	// 	padding-left: 48px;
	// }
}