/* stylelint-disable import-notation */

/*
	Поможем scss распознавать где нужно производить математическое деление, а где не надо
	https://sass-lang.com/documentation/breaking-changes/slash-div

	margin: math.div(6px, 2) - производим деление
	результат - margin: 3px;

	grid-row: list.slash (1, 3) - НЕ производим деление
	результат - grid-row: 1 / 3;
*/
@use 'sass:list';
@use 'sass:math';

/*
	Создание карт и доступ к содержащимся в них значениям
*/
@use 'sass:map';

/*
	Bootstrap сетка
	https://getbootstrap.com/docs/5.1/layout/grid/

	$grid-columns - количество столбцов сетки
	$grid-gutter-width - ширина промежутков между столбцами
	$grid-breakpoints - контрольные точки
*/
$grid-columns: 12;
$grid-gutter-width: 0;
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

/*
	Отступы между столбцами
	https://getbootstrap.com/docs/5.1/layout/gutters/

	$spacer - размер желоба
	$gutters - желоба
*/
$spacer: 16px;
$gutters: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
);

/*
	Делайем короткие названия переменных Bootstrap сетки
*/
$bp-xs: map.get($grid-breakpoints, 'xs');
$bp-sm: map.get($grid-breakpoints, 'sm');
$bp-md: map.get($grid-breakpoints, 'md');
$bp-lg: map.get($grid-breakpoints, 'lg');
$bp-xl: map.get($grid-breakpoints, 'xl');
$bp-xxl: map.get($grid-breakpoints, 'xxl');

/*
	Переменные, функции, миксины, плейсхолдеры,
	миксины медиа запросов, сгенерированный файл шрифтов,
	сброс стилей
*/
@import './helpers/variables';
@import './helpers/functions';
@import './helpers/mixins';
@import './helpers/placeholders';
@import 'sass-mediaqueries/media-queries';
@import '../../tmp/fonts-generated';
@import 'ink-reset-scss/reset';

/* Bootstrap */
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/grid';

/* Base */
@import './base/base';
@import './base/typography';
@import './base/container';
@import './base/layout';

/* Utilities */
@import './utilities/*';

/* Libs */
@import './libs/*';

/* Blocks */
@import './../blocks/components/**/*';
@import './../blocks/modules/**/*';