// Контрольные точки
$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

// sass-mq
@use '../../node_modules/sass-mq/mq' with ($breakpoints: $breakpoints,
	$media-type: 'screen',
	// Uncomment for debugging breakpoints
	// $show-breakpoints: (sm, md, lg, ...),
);

/*
	Bootstrap сетка (грузится через libs)
	Переопределяем переменные
*/
@use 'libs/bootstrap/variables' with ($spacer: 16px,
	$grid-breakpoints: $breakpoints,
	$grid-gutter-width: 0);

// CSS переменные
@use 'helpers/root';

// Сгенерированный файл шрифтов
@use '../../tmp/fonts-generated';

// Сброс стилей
@use '../../node_modules/ink-reset-scss/reset';

// Base
@use 'base';

// Utilities
@use 'utilities';

// Libs
@use 'libs';

// Blocks
@use '../blocks/components';
@use '../blocks/modules';
